.Post {
  background-color: rgba(208, 208, 208, 0.2);
  border: 0.3px solid lightgray;
  box-shadow: 5px 5px 8px rgba(211, 211, 211, 0.5);
  padding: 25px;
  margin-top: 20px;
  margin-top: 20px;
  width: 50vw;
  min-height: 450px;
  font-family: inherit;
}

.Date {
  text-align: center;
}

.Head {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.Head > h3 {
  text-align: center;
}

.Body {
  text-align: left;
}

.Divider {
  border-top: 1px solid rgba(140, 139, 139, .4);
}

