.Home {
  min-height: 100%;
  font-family: inherit;
}

.Head {
  flex: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: .3px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  height: 400px;
}

.Button {
  background-color: white; 
  color: rgb(0, 0, 0);
  font-family: inherit;
  padding: 3px 8px;
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgb(75, 75, 75);
  cursor: pointer;
}
.Button:hover,
.Button:active {
  background-color: gray;
  color: white;
}
.Button:focus {
  outline: none
}
